.DS_Store
*.meta
Backup~

Library/
Packages/
ProjectSettings/
Temp/
Assets/*
!Assets/VRGO

Assembly-CSharp.csproj
HoshinoLabs.IwaSync3.Editor.csproj
HoshinoLabs.IwaSync3.Udon.csproj
HoshinoLabs.IwaSync3.csproj
UdonSharp.Editor.csproj
UdonSharp.Lib.csproj
UdonSharp.Runtime.csproj
UnityEditorTests.csproj
VRC.ClientSim.Editor.csproj
VRC.ClientSim.csproj
VRC.SDK3.Editor.csproj
VRC.SDK3.csproj
VRC.SDKBase.Editor.BuildPipeline.csproj
VRC.SDKBase.Editor.ShaderStripping.csproj
VRC.SDKBase.Editor.csproj
VRC.SDKBase.csproj
VRC.Udon.Editor.csproj
VRC.Udon.Serialization.OdinSerializer.csproj
VRC.Udon.csproj
VRGO.sln
com.vrchat.core.vpm-resolver.Editor.csproj
